<!--------------------- BARRA LATERAL ----------------------->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
  <!--------------- TITULO DE LA BARRA LATERAL ---------------->
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-text mx-3">VAIE-WEB</div>
  </div>
  <hr class="sidebar-divider">
  <!------------------ SECCION DE REGISTROS ------------------->
  <div class="sidebar-heading">
    Registros
  </div>
  <li class="nav-item">
    <a class="nav-link" href="registrar-docente">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>Registrar Docente</span></a>
  </li>
  <hr class="sidebar-divider">
  <!------------------- SECCION DE REPORTES ------------------->
  <div class="sidebar-heading">
    Listados
  </div>
  <li class="nav-item">
    <a class="nav-link" href="generar-listados-di">
      <i class="far fa-file-alt"></i>
      <span>Generar Reportes</span></a>
  </li>
  <hr class="sidebar-divider">
  <!-------------------- SECCION DE TABLAS -------------------->
  <div class="sidebar-heading">
    Parametros
  </div>
  <li class="nav-item">
    <a class="nav-link" href="alimentar-tablas">
      <i class="far fa-edit"></i>
      <span>Alimentar Tablas</span></a>
  </li>
</ul>