<div class="container">
    <div class="row justify-content-center">	
		<div class="col-lg-6 col-md-12">
			<div class="card shadow mb-4">
			  <div class="card-header py-3">
			    <h6 class="m-0 font-weight-bold text-primary">Actualizar Producto</h6>
			  </div>
			  <div class="card-body">
				    <form>
					    <div class="row justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-8 col-12 mb-4">
								<img src="img/penguin.png" class="img-thumbnail">
							</div>
						</div>
					  	<div class="form-group">
						  	<div class="custom-file">
								<input type="file" class="custom-file-input" id="" lang="es">
								<label class="custom-file-label" for="customFileLang">Seleccionar Logo</label>
							</div>
						</div>				
					    <div class="form-group">
						    <input type="text" class="form-control" id="" placeholder="Nombre del producto">
						</div>
						<div class="form-group">
						    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Descripción del Proyecto." rows="4"></textarea>
						</div>
						<div class="form-group">
						    <input type="date" class="form-control mb-3">
						</div>
						<div class="row">
							<div class="form-group col-lg-6 col-md-12">
								<select class="form-control">
								 	<option>-Grupo de Inv-</option>
								</select>    
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <select class="form-control">
								 	<option>-Linea de Inv-</option>
								</select>  
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-12 col-md-12">
								<select class="form-control">
								 	<option>-Proyecto de Inv-</option>
								</select>    
							</div>
						</div>

						<div class="row" id="capituloLibro" >
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="ISBN"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Ambito"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Editorial"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Número de páginas"> 
							</div>
							<div class="form-group col-lg-12 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Nombre del Libro"> 
							</div>
						</div>

						<div class="row" id="libro">
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="ISBN"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Ambito"> 
							</div>
							<div class="form-group col-lg-12 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Editorial"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Número de capítulos"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Número de capítulos"> 
							</div>
						</div>

						<div class="row" id="articulo">
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="ISSN"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Ambito"> 
							</div>
							<div class="form-group col-lg-12 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Nombre de la revista"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Tipo de artículo"> 
							</div>
							<div class="form-group col-lg-6 col-md-12">
							    <input type="text" class="form-control" id="" placeholder="Link"> 
							</div>
						</div>

						<div class="container">
							<div class="row justify-content-center">
								<button type="submit" class="btn btn-primary">Actualizar Datos</button>
							</div>
						</div>
					</form>
			  </div>
			</div>
		</div>
	</div>
</div>