<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
			<div class="card shadow">
				<div class="mt-4 mb-4 mr-4 ml-4">
					<div class="row justify-content-center d-flex align-items-center">
						<div class="col-lg-3 col-md-4 col-sm-10 col-10">
							<img src="img/penguin2.png" class="card-img-top rounded">
						</div>
						<div class="col-lg-9 col-md-8 col-sm-12 col-12">
							<div class="row">
								<div class="col-lg-12 col-md-12 mt-4">
									<h3 class="card-title">Producto De Pinguinos</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<p class="text-justify">
										Los pingüinos (Spheniscidae) son una familia de aves, la única del orden Sphenisciformes. Son aves marinas, no voladoras, que se distribuyen casi exclusivamente en el hemisferio sur, exceptuando el pingüino de las islas Galápagos (Spheniscus mendiculus). El nombre del orden proviene del vocablo spheniscus el cual proviene del griego σφήν (sphen, 'cuña') y el sufijo diminutivo -iscus, literalmente "cuñita", haciendo referencia a su forma hidrodinámica al nadar.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="row">
				<div class="col-lg-4 mb-4">
					<a href="#" class="text-decoration-none">
						<div class="card border-left-primary shadow h-100 py-2">
			                <div class="card-body">
			                	<div class="row no-gutters align-items-center">
				                    <div class="col mr-2">
					                    <div class="h5 mb-0 font-weight-bold text-gray-800">
					                    	Docente 1
					                	</div>
					                	<div class="h6 mb-0 font-weight-bold text-gray-800">
					                    	Autor
					                	</div>
				                    </div>
				                    <div class="col-auto">
				                      	<i class="far fa-address-card fa-2x text-gray-300"></i>
				                    </div>
			                  	</div>
			                </div>
			            </div>
			        </a>
				</div>
				<div class="col-lg-4 mb-4">
					<a href="#" class="text-decoration-none">
						<div class="card border-left-primary shadow h-100 py-2">
			                <div class="card-body">
			                	<div class="row no-gutters align-items-center">
				                    <div class="col mr-2">
					                    <div class="h5 mb-0 font-weight-bold text-gray-800">
					                    	Docente 2
					                	</div>
					                	<div class="h6 mb-0 font-weight-bold text-gray-800">
					                    	Autor
					                	</div>
				                    </div>
				                    <div class="col-auto">
				                      	<i class="far fa-address-card fa-2x text-gray-300"></i>
				                    </div>
			                  	</div>
			                </div>
			            </div>
			        </a>
				</div>
				<div class="col-lg-4 mb-4">
					<a href="#" class="text-decoration-none">
						<div class="card border-left-primary shadow h-100 py-2">
			                <div class="card-body">
			                	<div class="row no-gutters align-items-center">
				                    <div class="col mr-2">
					                    <div class="h5 mb-0 font-weight-bold text-gray-800">
					                    	Docente 3
					                	</div>
					                	<div class="h6 mb-0 font-weight-bold text-gray-800">
					                    	Autor
					                	</div>
				                    </div>
				                    <div class="col-auto">
				                      	<i class="far fa-address-card fa-2x text-gray-300"></i>
				                    </div>
			                  	</div>
			                </div>
			            </div>
			        </a>  
				</div>
			</div>
		</div>
	</div>
</div>