<!--------------------- BARRA LATERAL ----------------------->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
  <!--------------- TITULO DE LA BARRA LATERAL ---------------->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="vicerrectoria">
    <div class="sidebar-brand-text mx-3">VAIE-WEB</div>
  </a>
  <hr class="sidebar-divider">
  <!------------------ SECCION DE REGISTROS ------------------->
  <div class="sidebar-heading">
    Registros
  </div>
  <li class="nav-item">
    <a class="nav-link" href="registrar-grupo">
      <i class="fas fa-users"></i>
      <span>Registrar Grupo</span></a>
  </li>
  <hr class="sidebar-divider">
  <!------------------- SECCION DE REPORTES ------------------->
  <div class="sidebar-heading">
    Listados
  </div>
  <li class="nav-item">
    <a class="nav-link" href="generar-listados">
      <i class="far fa-file-alt"></i>
      <span>Generar Listados</span></a>
  </li>
  <hr class="sidebar-divider">
  <!----------------- SECCION DE  INDICADORES ----------------->
  <div class="sidebar-heading">
    Indicadores
  </div>
  <li class="nav-item">
    <a class="nav-link" href="generar-indicadores">
      <i class="far fa-chart-bar"></i>
      <span>Generar Indicadores</span></a>
  </li>
  <hr class="sidebar-divider">
  <!-------------------- SECCION DE TABLAS -------------------->
  <div class="sidebar-heading">
    Parametros
  </div>
  <li class="nav-item">
    <a class="nav-link" href="alimentar">
      <i class="far fa-edit"></i>
      <span>Alimentar Tablas</span></a>
  </li>
</ul>