<!--------------------- BARRA LATERAL ----------------------->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
  <!--------------- TITULO DE LA BARRA LATERAL ---------------->
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-text mx-3">VAIE-WEB</div>
  </div>
  <hr class="sidebar-divider">
  <!------------------ SECCION DE REGISTROS ------------------->
  <div class="sidebar-heading">
    Registros
  </div>
  <li class="nav-item">
    <a class="nav-link" href="registrar-proyecto">
      <i class="fas fa-file-signature"></i>
      <span>Registrar Proyecto.</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="registrar-producto">
      <i class="fas fa-book"></i>
      <span>Registrar Producto de Inv.</span></a>
  </li>
  <hr class="sidebar-divider">
  <!------------------- SECCION DE REPORTES ------------------->
  <div class="sidebar-heading">
    Listados
  </div>
  <li class="nav-item">
    <a class="nav-link" href="generar-listados-do">
      <i class="far fa-file-alt"></i>
      <span>Generar Listados</span></a>
  </li>
  <hr class="sidebar-divider">
  <!------------------SECCION DE PERFIL------------------------->
   <div class="sidebar-heading">
     Perfil personal
  </div>
  <li class="nav-item">
    <a class="nav-link" href="ver-perfil-docente">
      <i class="fas fa-file-signature"></i>
      <span>Ver Perfil</span></a>
  </li>
  <hr class="sidebar-divider">
</ul>